html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-sec {
  background-color: rgb(230, 230, 230);
}
.bg-opacity{
  opacity: 70%;
  background-color: rgb(212, 212, 212);
  
}

.cards {
  height: 150;
}
